.circleButton {
  border: 1px solid #b4bdc4;
  border-radius: 48px;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: #fff;
}

.circleButton:hover {
  border-color: #000;
}

.primaryButton {
  background: var(--color-accent);
  border-radius: 48px;
  padding: 9.5px 60.5px;
  width: 100%;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  transition-duration: 500ms;
}

.primaryButton:hover {
  box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
}
