.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: space-around;
    align-items: center; 
    height: 96px;
}

.footer_inside {
  display: flex;
  flex: 0.5;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 30px;
  width: 90px;
}

.footer_links {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #89939a;
}

.footer_back_link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;

  color: #89939a;
}

.footer_button {
  box-sizing: border-box;

  border: 1px solid #b4bdc4;
  color: white;
  border-radius: 48px;
  border-color: white;
  background: white;
  cursor: pointer;
  padding: 0;
}

.footer_button_image {
  width: 32px;
  height: 32px;
}

.footer_button_container {
  width: 120px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    padding: 16px;
  }

  .footer_inside {
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
  }

  .footer_button_container {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
}
