:root {
  --color-accent: #4219d0;
  --color-secondary-accent: #f4ba47;
  --color-primary: #0f0f11;
  --color-secondary: #89939a;
  --color-icons: #b4bdc3;
  --color-elements: #e2e6e9;
  --color-hover: #fafbfc;
  --color-white: #fff;
  --color-green: #27ae60;
  --color-red: #eb5757;
}

html {
  color: var(--color-primary);
}