@font-face {
  font-family: 'Mont';
  src: url('../../public/fonts/Mont-Regular.otf');
}

.menu__page {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  height: 100vh;
  width: 100%;
}

.header {
  background-color: #ffffff;
  box-shadow: -1px 0px 0px #e2e6e9;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
}

.header__menu {
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px #e2e6e9;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
}

.link__img {
  padding: 20px 24px;
  width: auto;
  height: auto;
}

.img__logo {
  min-width: 64px;
  min-height: 20px;
}

.content__nav {
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__nav__menu {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 64px;
}

.list__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list__link {
  text-transform: uppercase;
  color: #89939a;
  padding-bottom: 3px;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: color 0.5s;
}

.list__link:hover {
  color: #0f0f11;
  padding-bottom: 3px;
  border-bottom: 2px solid;
  border-color: #0f0f11;
}

.content__link {
  display: flex;
  margin-left: auto;
}

.content__link__menu {
  display: flex;
  margin-top: auto;
}

.signInLink {
  border: 1px solid transparent;
}

.signInLink:hover {
  color: var(--color-secondary);
}

@media (max-width: 639px) {
  .content__nav {
    display: none;
  }
  .content__link {
    display: none;
  }
  .img__logo {
    width: 64px;
    height: 20px;
  }
}
@media (max-width: 1199px) {
  .list {
    gap: 32px;
  }
}

.link__nav {
  display: flex;
  width: 64px;
  height: 64px;
  box-shadow: -1px 0px 0px #e2e6e9;

  border-bottom: 2px solid;
  border-color: transparent;
}

.link__nav:hover {
  color: #0f0f11;
  border-bottom: 2px solid;
  border-color: #0f0f11;
}

.menu {
  display: flex;
  margin-left: auto;
}

@media (min-width: 639px) {
  .menu {
    display: none;
  }
}

.link__nav__menu {
  display: flex;
  flex: 1;
  padding: 25px;
  box-shadow: 0px 0px 0px 1px #e2e6e9;
  border-bottom: 2px solid;
  border-color: transparent;
}

.link__nav__menu:hover {
  color: #0f0f11;
  border-bottom: 2px solid;
  border-color: #0f0f11;
}

.img {
  margin: auto;
}
