.promoSlider {
  user-select: none;

  /* margin: 0 -20px; */

  @media (min-width: 640px) {
    margin: 0;
  }
}

.promoSlider__image {
  display: block;

  width: 100%;
  height: 100%;

  max-height: 400px;

  min-height: 320px;

  object-fit: cover;
}

@media (min-width: 640px) {
  .promoSlider__image {
    min-height: auto;
  
    padding: 0 calc(32px + 16px);
  }
}