.infoTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #0F0F11;
}

.infoAbout {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #89939A;
    margin-top: 16px;
}

.position {
    margin-top: 32px;
}