.block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.name {
  margin-bottom: 40px;
}

.linkBack {
  color: var(--color-secondary);
  position: relative;
  margin-bottom: 16px;
}

.linkBack:before {
  content: '';
  position: absolute;
  width: 5.3px;
  height: 8.3px;
  left: -15px;
  top: 10%;
  background-image: url('../../public/icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.infoComponentLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-grow: 0;
}

.infoComponentRight {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-grow: 0;
}
.colorsTitle {
  display: flex;
  justify-content: space-between;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.capacityTitle {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.capacityButton {
  background-color: #fff;
  border: 1px solid #b4bdc4;
  border-radius: 4px;
  padding: 5px;
}

.capacityButton:hover {
  border-color: #000;
}

.divider {
  width: 320px;
  height: 1px;
  border-bottom: 1px solid #e2e6e9;
  margin-bottom: 32px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.cartButtonGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.circleButtonInfo {
  flex-shrink: 0;
  background-image: url(../../public/icons/fav-regular.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.priceBlock {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.discountPrice {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-decoration-line: line-through;

  color: var(--color-secondary);
}

.specList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grayText {
  color: var(--color-secondary);
}

.colorButton {
  border-radius: 48px;
  border: 1px solid var(--color-secondary);
  width: 30px;
  height: 30px;
}

.colorButton:hover {
  border: 1px solid var(--color-primary);
}

.buttonSelected {
  border: 1px solid var(--color-primary);
}

.favButtonSelected {
  background-image: url(../../public/icons/fav-selected.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.additionalContainer {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.specs {
  width: 50%;
}

.about {
  width: 50%;
  height: 300px;
}

@media (min-width: 1024px) {
  .infoContainer {
    display: flex;
    flex-direction: row;
    gap: 76px;
  }
}
