.card {
  box-sizing: border-box;
  padding: 20px;
  width: 272px;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #e2e6e9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card__img {
  margin: 0 auto 24px;
  height: 208px;
  width: 196px;
  object-fit: contain;
}

.card__title {
  margin-bottom: 8px;
  color: var(--color-primary);
}

.card__price {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__priceCurrent {
  display: flex;
  justify-content: space-around;
  color: var(--color-primary);
}

.card__priceFull {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-secondary);
  text-decoration: line-through;
}

.card__features {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card__features::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--color-elements);
  margin-bottom: 16px;
}

.card__feature {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__feature:last-child {
  margin-bottom: 16px;
}

.card__featureName {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-secondary);
}

.card__featureValue {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-primary);
}

.card__buy {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  justify-self: bottom;
}
