.block {
  margin: 56px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 640px) {
  .block {
    margin: 64px 0;
  }
}

@media (min-width: 1200px) {
  .block {
    margin: 80px 0;
  }
}

.slider {
  width: 90%;
  align-self: center;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.buttonGroup {
  display: flex;
  gap: 16px;
}

.button {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-secondary);
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: 1px solid #000;
}

.button:disabled {
  border: 1px solid var(--color-secondary);
}
