.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.name {
  text-transform: capitalize;
  color: var(--color-secondary);
}

.divider {
  width: auto;
  height: 1px;
  border-bottom: 1px solid #e2e6e9;
  margin-bottom: 32px;
}

.title {
  margin-bottom: 16px;
}
