.h1Mobile {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

.h2Mobile {
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

.h3Mobile {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

.h4Mobile {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}